In [2]:
import netCDF4 as nc
import numpy as np
import pandas as pd
import os
import glob

In [3]:
ds = nc.Dataset('/Users/ilyadrozd/Desktop/IO/meteo/Weddell_meteo_2015.nc')
ds

<class 'netCDF4._netCDF4.Dataset'>
root group (NETCDF3_64BIT_OFFSET data model, file format NETCDF3):
    Conventions: CF-1.6
    history: 2023-07-07 00:21:28 GMT by grib_to_netcdf-2.25.1: /opt/ecmwf/mars-client/bin/grib_to_netcdf.bin -S param -o /cache/data3/adaptor.mars.internal-1688689276.0896924-14897-20-6988cc1d-c274-4a26-9b40-fe6c3a538e05.nc /cache/tmp/6988cc1d-c274-4a26-9b40-fe6c3a538e05-adaptor.mars.internal-1688689057.1896045-14897-34-tmp.grib
    dimensions(sizes): longitude(81), latitude(41), time(604)
    variables(dimensions): float32 longitude(longitude), float32 latitude(latitude), int32 time(time), int16 u10(time, latitude, longitude), int16 v10(time, latitude, longitude), int16 d2m(time, latitude, longitude), int16 t2m(time, latitude, longitude), int16 lsm(time, latitude, longitude), int16 msl(time, latitude, longitude), int16 sst(time, latitude, longitude), int16 slhf(time, latitude, longitude), int16 sshf(time, latitude, longitude), int16 ssrd(time, latitude, longitude), int16 strd(time, latitude, longitude)
    groups:

In [61]:
ds['slhf'][0]

masked_array(
  data=[[ 10986.02952711,  10611.46474295,  10094.20861245, ...,
         -54295.26142554, -61073.10037691, -66317.00735507],
        [ 10094.20861245,   9327.24262585,   8560.27663925, ...,
         -57095.57909755, -61715.21143546, -64658.22045382],
        [  9844.49875635,   9452.0975539 ,   9576.95248196, ...,
         -58772.2024171 , -69135.16144538, -77446.93236995],
        ...,
        [  4208.19057574,   3048.82338669,   2799.11353059, ...,
         -28040.05369814, -28040.05369814, -28432.45490058],
        [  8043.02050875,   5100.01149039,   2032.14754399, ...,
         -21262.21474677, -22671.29179192, -24080.36883707],
        [  9077.53276975,   7276.05452215,   4333.04550379, ...,
         -14858.94057956, -14359.52086735, -15750.76149421]],
  mask=False,
  fill_value=1e+20)

In [60]:
ds['slhf']

<class 'netCDF4._netCDF4.Variable'>
int16 slhf(time, latitude, longitude)
    scale_factor: 17.83641829307372
    add_offset: -363560.91820914653
    _FillValue: -32767
    missing_value: -32767
    units: J m**-2
    long_name: Surface latent heat flux
    standard_name: surface_upward_latent_heat_flux
unlimited dimensions:
current shape = (604, 41, 81)
filling on

In [58]:
files = glob.glob('/Users/ilyadrozd/Desktop/IO/meteo/*.nc')
files.sort()
files

# df = pd.DataFrame()
for file, year in zip(files, [2015,2016,2017,2018,2019,2020,2021,2022]):
    ds = nc.Dataset(file)
    lons = ds['longitude'][:]
    lats = ds['latitude'][:]
    time = ds['time'][:]
    u10 = ds['u10'][:].flatten()
    v10 = ds['v10'][:].flatten()
    sst = ds['sst'][:].flatten()
    t2m = ds['t2m'][:].flatten()
    d2m = ds['d2m'][:].flatten()
    msl = ds['msl'][:].flatten()
    lhf = ds['slhf'][:].flatten()
    shf = ds['sshf'][:].flatten()
    srd = ds['ssrd'][:].flatten()
    trd = ds['strd'][:].flatten()
    lsm = ds['lsm'][:].flatten()
    
    timeg, latg, long = np.meshgrid(time,lats,lons, indexing='ij' )
    
    df = pd.DataFrame(np.array([timeg.flatten(), latg.flatten(), long.flatten(),
                                u10, v10, sst, t2m, d2m, msl, lhf, shf, srd, trd, lsm]).T)

    print(len(df))
    df.to_csv(f'/Users/ilyadrozd/Desktop/IO/meteo/meteo_{year}.csv', sep=' ', header=None, index=None)

    # pd.to_datetime(time, origin='1900-01-01 00:00:00.0', unit='h')

2005884
2019168
2005884
2005884
2005884
2019168
2005884
2005884

In [6]:
41*81*(30+31+31+28+31)*4

2005884

In [59]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1069440.0,-60.0,-65.00,6.506039,0.188320,274.421859,274.756206,274.349738,97657.525698,10986.029527,18280.970091,2.297745e+05,1.112896e+06,0.0
1,1069440.0,-60.0,-64.75,6.288444,-0.014979,274.453131,274.857854,274.418199,97655.372165,10611.464743,18602.164299,2.529705e+05,1.104167e+06,0.0
2,1069440.0,-60.0,-64.50,6.035384,-0.211207,274.491257,274.959502,274.484237,97653.792907,10094.208612,18725.700533,2.769116e+05,1.094826e+06,0.0
3,1069440.0,-60.0,-64.25,5.549703,-0.359704,274.572221,275.068869,274.531493,97658.530680,8809.986495,17515.045443,3.051740e+05,1.081194e+06,0.0
4,1069440.0,-60.0,-64.00,5.064622,-0.509968,274.654257,275.178237,274.576325,97663.268453,7668.455725,16230.268613,3.334363e+05,1.067488e+06,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2005879,1078194.0,-70.0,-46.00,4.086045,-3.323156,271.460445,273.688263,269.735000,98643.556827,-196469.351640,-46254.358369,2.085902e+06,9.673180e+05,0.0
2005880,1078194.0,-70.0,-45.75,3.982056,-3.169945,271.460445,273.658669,269.324841,98651.165978,-204602.758381,-46970.868524,2.082673e+06,9.705213e+05,0.0
2005881,1078194.0,-70.0,-45.50,4.119706,-2.729758,271.460445,273.635509,268.891055,98655.616614,-212985.874979,-48379.181588,2.093203e+06,9.692742e+05,0.0
2005882,1078194.0,-70.0,-45.25,4.244733,-2.307839,271.460445,273.602055,268.463327,98659.923681,-221493.846505,-50158.103353,2.107409e+06,9.672324e+05,0.0
2005883,1078194.0,-70.0,-45.00,4.329487,-1.934829,271.460445,273.551231,268.047715,98663.656472,-230322.873560,-53246.509194,2.131698e+06,9.628432e+05,0.0